<!DOCTYPE html>
<html>
<head>
  <title> Об авторе </title>
  <style>
        body {
            background-color: #212122;
        }
        a {
            color: white;
            font-family: 'Arial', 'Verdana', sans-serif;
        }
        p {
            padding: 10px;
            outline: 2px solid #000;
            border: 5px solid #687495;
            border-radius: 12px;
        }
  </style>
</head>
<body>
  <h1 align="center" style = "color: white; font-family: 'Arial', 'Verdana', sans-serif"> Об авторе</h1>
   <p align="center" style = "color: white; font-family: 'Arial', 'Verdana', sans-serif"> Сайт сделан Лариной Марией, студенткой 2 курса ФКН ВГУ.
                    По всем вопросам пишите на почту
       <a href="mailto:mashalar1510@gmail.com">mashalar1510@gmail.com</a>.
   </p>
   <h3 align = "center"><a href = "/">Вернуться на главную страницу</a></h3>
   <h3 align = "center"><a href = "/main.html">Вернуться к интерфейсу для подсветки</a></h3>
</body>
</html>