<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интерфейс для подсветки</title>
    <style>
        body {
            background-color: #212122;
        }
        a {
            color: white;
            font-family: 'Arial', 'Verdana', sans-serif;
        }
        p {
            padding: 10px;
            outline: 2px solid #000;
            border: 5px solid #687495;
            border-radius: 12px;
        }
    </style>
</head>
<body>
<h1 align="center" style = "color: white; font-family: 'Arial', 'Verdana', sans-serif">Интерфейс для подсветки синтаксиса языка программирования</h1>
<p align="center" style = "color: white; font-family: 'Arial', 'Verdana', sans-serif"> Данное web-приложение является простым интерфейсом для подсветки синтаксиса языка программирования. Вы можете
использовать его для проверки правильности написанного кода, выбрав язык программирования: Python, Java, C++.</p>
<h3 align = "center" ><a href = "main.html">Перейти к интерфейсу для подсветки</a></h3>
</body>
</html>